#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N1      &kp LBKT
                &kp LSHIFT  &mo 1
            >;
        };

        bt_layer {
            bindings = <
                &kp K_CALC   &bootloader
                &bt BT_SEL 0   &bt BT_CLR
            >;
        };
    };
};
