#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &transform0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios =
            <&pro_micro 8 GPIO_ACTIVE_HIGH>,
            <&pro_micro 9 GPIO_ACTIVE_HIGH>;

        row-gpios =
            <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    transform0: matrix_transform {
        compatible = "zmk,matrix_transform";
        rows       = <2>;
        columns    = <2>;

        map = <
            RC(0,0) RC(0,1)
            RC(1,0) RC(1,1)
        >;
    };
};